body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
}
p {
    font-size: .75em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .4em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: .75em;
}

ul.posts li {
    list-style: none;
}
